body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


p, a, h1, h2, h3, h4, h5{
  color: white!important;}

.card-title {
  color: white!important;
  font-family: 'Ceviche One', cursive!important;
  font-size: 32px!important;/* Définir la taille de la police à 22px */

}

.card-text {
  color: white!important;
  font-family: 'Changa One', cursive; /* Utiliser la police Changa One */
  font-size: 12px!important;/* Définir la taille de la police à 22px */

}